<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>CodeGig</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gigs">All Gigs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add Gigs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Login</a>
      </li>
    </ul>
    </div>
    </div>
  </nav>
  <div class="container">
      <%- messages('message', locals) %>
      <% if (locals.errors) { %>
        <% errors.forEach((error) => {%>
          <div class="alert alert-danger"><%= error.msg %></div>
        <%});%>
      <% } %>